header{
    background-image: url('../../assets/img/header-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46rem;
    gap: 18px;
}

.header-title{
    font-family: 'Luckiest Guy', 'Open Sans';
    font-weight: 400;
    font-size: 3.5rem;
    width: 19rem;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.header-description{
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    padding: 8px;
}

.header-buttons{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.download{
    background-color: #FFFFFF;
    padding: 1em;
    border-radius: 28px;
    font-weight: 400;
    text-align: center;
}

.navigator{
    color: #FFFFFF;
    background-color: #000000;
    padding: 1rem;
    border-radius: 28px;
    font-weight: 400;
    text-align: center;
}

.presentation{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-image{
    max-width: 100%;
    height: auto;
    display: block;
}

.presentation-content{
    width: 22rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.presentation-title{
    font-size: 2.3rem;
    font-weight: 800;
}

.presentation-description{
    font-weight: 400;
}

.benefits{
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.benefits-content{
    width: 22rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.benefits-title{
    font-size: 2.3rem;
    font-weight: 800;
}

.community{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.community-content{
    width: 22rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.community-title{
    font-size: 2.3rem;
    font-weight: 800;
}

.tecnology{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.tecnology-title{
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
}

.tecnology-description{
    margin-top: 18px;
    max-width: 60%;
}

.presentation,
.benefits,
.community,
.tecnology{
    padding: 1rem;
}

@media screen and (max-width: 500px){
    header{
        height: 70vh;
    }

    .header-container{
        gap: 8px;
    }

    .header-title{
        font-size: 2rem;
    }
    
    .header-title, 
    .header-description{
        padding: 8px;
        margin: 0px 12px 0 12px;
        align-self: flex-start;
        text-align: left;
    }

  .header-buttons{
    padding: 12px;
    flex-direction: column;
  }

  .download,
  .navigator{
    padding: 1rem 4rem;
  }

  .section-image{
    max-width: 85%;
}

}

@media screen and (max-width: 1030px) {

    .presentation-content{
        justify-content: flex-start;
        height: 15rem;
      }
    
      .presentation-title{
        font-size: 1.5rem;
      }

      .benefits{
        flex-direction: column-reverse;
      }

      .benefits-content{
        align-items: flex-start;
      }

      .benefits-title{
        font-size: 1.5rem;
      }

      .community-content{
        align-items: flex-start;
      }

      .community-title{
        font-size: 1.5rem;
      }

      .tecnology-description{
        max-width: 100%;
    }
}